<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>FrameRate</title>

</head>
<a href="#main" class="skip-to-content-link">Skip to main content</a>
  <%- include('header'); -%>

<body> 

<main id="main">

  <h1>FrameRate</h1>
  <ul class="movie-list">
    <% for (let movie of movies) { %>
      <li class="movie-list__movie">
        <a class="movie-list__link" href="/movie/<%= movie.id %>">
         <img alt="<%= movie.title %>" src="<%= movie.imageURL %>">

          <h2 class="movie-list__title"><%= movie.title %></h2>
          <p class="movie-list__release-date"><%= movie.releaseDate.substring(0,4) %></p>
        </a>
      </li>
    <% } %>
  </ul>
</body>
</main>
</html>